{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset Success" %}{% endblock %}

{% block content %}
<style>
</style>

<div class="reset-container">
  <div class="reset-card">
    <div class="success-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
    </div>

    <h2 class="reset-title">{% trans "Password Reset Sent" %}</h2>

    <p class="reset-description">
      {% blocktrans %}We have sent you an email with a link to reset your password. Please check your email and follow the instructions.{% endblocktrans %}
    </p>
    
    <p class="reset-description">
      {% blocktrans %}If you don't receive an email within a few minutes, please check your spam folder or try again.{% endblocktrans %}
    </p>

    <a href="{% url 'account_login' %}" class="login-button">
      {% trans "Return to Login" %}
    </a>

    <p class="contact-text">
      {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}